In [1]:
import pandas as pd

# Read the dataset (replace 'your_dataset.csv' with the actual file name)
data = pd.read_csv('vancouver.csv')

data

,Ethnic or cultural origin: Single or multiple response indicator (3) 5,Total - Single and multiple ethnic or cultural origin responses,Single ethnic or cultural origin responses,Multiple ethnic or cultural origin responses
0,Total - Ethnic or cultural origin,"50,600","14,065","36,540"
1,North American origins,"3,200",900,"2,310"
2,"North American, n.o.s. 11",20,0,20
3,North American Indigenous origins,80,0,80
4,"North American Indigenous, n.o.s. 12",0,0,0
...,...,...,...,...
524,Mennonite,25,0,25
525,Muslim,295,40,255
526,Sikh,150,55,85
527,Yazidi,0,0,0
528,Zoroastrian,55,40,20

In [2]:
# Remove commas in columns 1, 2, and 3
for col in range(1, 4):
    data.iloc[:, col] = data.iloc[:, col].str.replace(',', '').astype(float)

C:\Users\Trang Ton Nguyen\AppData\Local\Temp\ipykernel_32400\2577362827.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.iloc[:, col] = data.iloc[:, col].str.replace(',', '').astype(float)

In [3]:
# Convert the object type columns to int
cols_to_convert = [1, 2, 3]
for col in cols_to_convert:
    data.iloc[:, col] = pd.to_numeric(data.iloc[:, col], errors='coerce').fillna(0).astype(int)

# Check the converted data types
print(data.dtypes)

data

Ethnic or cultural origin: Single or multiple response indicator (3) 5    object
Total - Single and multiple ethnic or cultural origin responses            int32
Single ethnic or cultural origin responses                                 int32
Multiple ethnic or cultural origin responses                               int32
dtype: object

C:\Users\Trang Ton Nguyen\AppData\Local\Temp\ipykernel_32400\3517622780.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.iloc[:, col] = pd.to_numeric(data.iloc[:, col], errors='coerce').fillna(0).astype(int)

,Ethnic or cultural origin: Single or multiple response indicator (3) 5,Total - Single and multiple ethnic or cultural origin responses,Single ethnic or cultural origin responses,Multiple ethnic or cultural origin responses
0,Total - Ethnic or cultural origin,50600,14065,36540
1,North American origins,3200,900,2310
2,"North American, n.o.s. 11",20,0,20
3,North American Indigenous origins,80,0,80
4,"North American Indigenous, n.o.s. 12",0,0,0
...,...,...,...,...
524,Mennonite,25,0,25
525,Muslim,295,40,255
526,Sikh,150,55,85
527,Yazidi,0,0,0
528,Zoroastrian,55,40,20

In [4]:
# Get the value in the first row of column 1 (assuming 0-based indexing)
first_value = data.iloc[0, 1]

# Calculate the scaling factor
scaling_factor = 100 / first_value

# Scale the dataset columns 1, 2, and 3
for col in range(1, 4):
    data.iloc[:, col] = data.iloc[:, col] * scaling_factor

# Check the scaled first row in column 1 (it should be 100)
print("Scaled first row in column 1:", data.iloc[0, 1])

Scaled first row in column 1: 100.0

In [5]:
# Save the scaled dataset to a new file 
data.to_csv('vancouver_scaled_dataset.csv', index=False)